Non-fat file: build/GodotBridge.xcframework/ios-arm64/GodotBridge_iOS.framework/GodotBridge_iOS is architecture: arm64
Non-fat file: build/GodotBridge.xcframework/macos-arm64/GodotBridge_macOS.framework/GodotBridge_macOS is architecture: arm64
